<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://mesqr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mesqr</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$mesqr</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jh1eomrpz9.database.windows.net,1433;Initial Catalog=mesqr;User ID=mesqradmin@jh1eomrpz9;Password=TimscMSlp1" Name="Data Source=tcp:jh1eomrpz9.database.windows.net,1433;Initial Catalog=mesqr;User Id=mesqradmin@jh1eomrpz9;Password=TimscMSlp1" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-mesqr-20120729165116.mdf;Initial Catalog=aspnet-mesqr-20120729165116;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-mesqr-20120729165116;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-mesqr-20120729165116.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-mesqr-20120729165116.mdf;Initial Catalog=aspnet-mesqr-20120729165116;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="mesqr.Models.MesqrDb" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:jh1eomrpz9.database.windows.net,1433;Initial Catalog=mesqr;User ID=mesqradmin@jh1eomrpz9;Password=TimscMSlp1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="mesqr.Models.MesqrDb, mesqr" MigrationConfiguration="mesqr.Migrations.Configuration, mesqr" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jh1eomrpz9.database.windows.net,1433;Initial Catalog=mesqr;User Id=mesqradmin@jh1eomrpz9;Password=TimscMSlp1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mesqr.Models.MesqrDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jh1eomrpz9.database.windows.net,1433;Initial Catalog=mesqr;User ID=mesqradmin@jh1eomrpz9;Password=TimscMSlp1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="mesqr.Models.MesqrDb" />
  </ItemGroup>
</Project>